# Ignorar el entorno virtual
venv/

# Ignorar archivos de bases de datos locales
*.sqlite3

# Ignorar configuraciones locales
*.pyc
__pycache__/

# Archivos y carpetas generados por el sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Entornos interactivos y temporales
*.swp
*.swo
*.bak
*.tmp

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de migración autogenerados
# personas/migrations/
# inicio/migrations/

# Archivos estáticos recolectados
staticfiles/

# Entornos de producción opcionales
.env

