<!DOCTYPE html>
<html>
    <head>
        <title>Template base</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Hola mundo desde Django</h1>
        <h3>Con templates</h3>
        <p>
            {{myText}},
            {{myNumber}},
        </p>
        <div>
            <p>Usando 'forloop.counter':</p>
            <ul>
                {% for myItem in myList %}
                    <li>{{ forloop.counter }} - {{ myItem }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <p>Usando 'forloop.revcounter':</p>
            <ul>
                {% for myItem in myList %}
                    <li>{{ forloop.revcounter }} - {{ myItem }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <p>Primer elemento ('forloop.first'):</p>
            <ul>
                {% for myItem in myList %}
                    {% if forloop.first %}
                        <li>{{ myItem }} (Primer elemento)</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div>
            <p>Último elemento ('forloop.last'):</p>
            <ul>
                {% for myItem in myList %}
                    {% if forloop.last %}
                        <li>{{ myItem }} (Último elemento)</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    </body>
</html>